<h1>Proyecto Lista de Artículos</h1>
<h2>CRUD realizado con Node JS (express) para el Backend y MongoDB (mongoose) para la base de datos. Para el FrontEnd se utilizó Handlebars y Bootstrap.</h2>
<h3>El único propósito de esta página es demostrar conocimientos y sumarla a la lista de proyectos de mi portafolio.</h3>